apiVersion: v1
kind: Service
metadata:
  name: test-web
  labels:
    name: test-web
    app: test-web
spec:
  selector:
    app: test-web 
  type: LoadBalancer
  ports:
   - port: 80
     targetPort: 80
     protocol: TCP
